article {
  border: solid 2px #333;
}
#a1 {
  color: red;
}
#a2 {
  color: #8A2BE2;
}
#a3 {
  color: #7FFF00;
}
#a4 {
  color: #6495ED;
}
#a5 {
  color: #B8860B;
}
#a6 {
  color: #006400;
}
#a7 {
  color: #8B008B;
}
#a8 {
  color: #FF8C00;
}
#a9 {
  color: #FF1493;
}
#a10 {
  color: #DAA520;
}
#s1 {
  background-color: #008000;
}
#s2 {
  background-color: #CD5C5C;
}
#s3 {
  background-color: #F0E68C;
}
#s4 {
  background-color: #ADD8E6;
}
#s5 {
  background-color: #D3D3D3;
}
#s6 {
  background-color: #FFA07A;
}
#s7 {
  background-color: #87CEFA;
}
#s8 {
  background-color:	#9370DB;
}
#s9 {
  background-color: #48D1CC;
}
#s10 {
  background-color: #9ACD32;
}
