* {
  box-sizing:border-box;
}

html {
  height: auto;
}
.margin-auto {
  margin-left: auto;
  margin-right: auto;
}
.clear-float {
  clear: both;
}
.float {
    float: left;
}

.plotis-30 {
  width: 30%;
}
.plotis-35 {
  width: 35%;
}

.aukstis-40px {
  height: 40px;
}
.aukstis-psl {
  min-height: 85.3vh;
  background-color: yellow;
}
/* meniu */

.menu {
  height: 70px;
}

nav a {
  color: yellow;
  padding: 0.5rem 1rem;
  display: block;
  border: 3px solid #343a40;

}

nav a:hover {
  color: yellow;
  border: 3px solid yellow;
  border-radius: 5px;
}

i {
  display: inline-block;
  width: 50px;
  float:left;
}

i.fa-facebook-square,
i.fa-instagram,
i.fa-youtube {
  color: white;
}

i.fa-facebook-square:hover {
  color: blue;
}

i.fa-youtube:hover {
  color: red;
}

i.fa-instagram:hover {
  color: orange;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

/* menu baigtas*/

footer {
  height: 5.3vh;
  background-color: #343a40;
  color: white;
}

div.bg-foto {
  background-image: url("../img/fonas.jpg");
    height: 85.3vh;
    background-position-y: center;
    background-repeat: no-repeat;
    background-blend-mode: luminosity;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background-position: right bottom; */
    /* min-height: 100%; */
    margin: 0;
}

.position-absolute2 {
  position: absolute;
  left: 100%;
  transform: translate(-50%);
}

.r-border {
  border-right: 3px solid white;
}

.plotis {
  width: 45%;
}

.aukstis-apie {
  height: auto;
  background-color: yellow;
}

.hidden {
  display: none;
}
.invisible {
  visibility: hidden;
}

.active-nav {
  text-decoration: underline;
}

.service-title {
  cursor: pointer;
}

.text-hover {
  opacity: 0.5;
}

footer p {
  margin-bottom: unset;
}

.index-article {
  background-color: rgba(48, 48, 40, 0.3);
  border: 3px solid #343a40;
  border-radius: 10px;
  padding: 10px;
}

.position-index-article {
  position: absolute;
  left: 30%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: auto;
}

h1, h2, h4 {
  font-family: 'Pacifico', cursive;
}
p {
  font-family: 'Roboto Slab', serif;
}
#header2-image {
  position: absolute;
  left: 5%;
  top: 10%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

@media (max-width: 1280px) {
  #header-image {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 27%;
  }

  .position-index-article {
    position: absolute;
    left: 30%;
    top: 60%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 35%;
  }
}

/* iki 425 */



@media (max-width: 1040px) {
  #header-image {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 29%;

  }
  .position-index-article {
    position: absolute;
    left: 30%;
    top: 60%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 40%;
  }
}

@media (max-width: 900px) {
  #header-image {
    display: none;

  }
  #header2-image {
    position: absolute;
    left: 5%;
    top: 10%;
    transform: translate(-50%, -50%);
    visibility: visible;
  }
  .position-index-article {
    position: absolute;
    left: 30%;
    top: 55%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 47%;
  }
}

@media (max-width: 819px) {

  nav {
    display: none;
  }

  #header2-image {
    position: absolute;
    left: 5%;
    top: 10%;
    transform: translate(-50%, -50%);
    visibility: visible;
  }
  .position-index-article {
    position: absolute;
    left: 30%;
    top: 55%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 47%;
  }
}
//
