*{box-sizing: border-box;}
body,
html{height: auto;}
/* ---------*/
html{background-color: rgb(232, 232, 232);}

body{
width: 1200px;
margin-right: auto;
margin-left: auto;
}

h1{
color: white;
text-align: center;
}

.navigacija-paieska{background-color: rgb(147, 49, 102);
padding-bottom: 15px;}

.floatnav{
float: left;
width: 75%;
text-align: center;
}

.floatli{
float: left;
width: 25%;
}

nav li {list-style: none;}

nav{
width: 75%;
margin-top: 1px;
display: block;
}

#paieska{
float: left;
width: 25%;
padding-top: 8px;
}

.isjungiu-float{clear: both;}

label{
display: block;
font: 1rem 'Fira Sans', sans-serif;}

label{
display: block;
font: 1rem 'Fira Sans', sans-serif;}

input,
label{
margin: .4rem 0;}

.note{font-size: .8em;}

.article-heading{text-align: center;}

h2{color: black;}

.pagrindinis{
float: left;
width: 81%;
background-color: white;
padding: 1%;
margin-top: 1%;
margin-bottom:0;
}

aside{
background-color:rgb(147, 49, 102);
margin-bottom: 0;
}

.float{
float: right;
width: 18%;
margin-top: 1%;
margin-right: 0;
height: 432px;
padding-right: 2%;
}

h1,
h2,
h3{ 
font-weight: 400;
font-family: 'Major Mono Display', "Verdon", monospace;
}


footer{
float: left;
width: 1200px;
height: 50px;
margin-bottom: 20px;
margin-top: 0;
background-color: white;
}

div{
padding-left: 15px;
padding-top: 15px;
}

.clear-float{
clear: both;
content: "";
}
