* {box-sizing:border-box;}
html {
  height: auto;
}
.margin-auto {
  margin-left: auto;
  margin-right: auto;
}
.clear-float {
  clear: both;
}

.plotis-30 {
  width: 30%;
}
.plotis-35 {
  width: 35%;
}

.aukstis-40px {
  height: 40px;
}
.aukstis-kontaktai {
  height: 645px;
  background-color: yellow;
}
/* meniu */

.menu {
  height: 70px;
}

nav a {
  color: yellow;
  padding: 0.5rem 1rem;
  display: block;
  border: 3px solid #343a40;
}

nav a:hover {
  color: yellow;
  border: 3px solid yellow;
  border-radius: 5px;
}

i {
  display: inline-block;
  width: 50px;
  float:left;
}

i.fa-facebook-square,
i.fa-instagram,
i.fa-youtube {
  color: white;
}

i.fa-facebook-square:hover {
  color: blue;
}

i.fa-youtube:hover {
  color: red;
}

i.fa-instagram:hover {
  color: orange;
}

.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

/* menu baigtas*/

footer {
  height: 40px;
  background-color: #343a40;
  color: white;
}








div.bg-foto {
  background-image: url("../img/fonas.jpg");
    height: 645px;
    background-position-y: center;
    background-repeat: no-repeat;
    background-blend-mode: luminosity;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background-position: right bottom; */
    min-height: 100%;
    margin: 0;
}


























//
