$pagrindineSpalva: #ff0022;
$font: 30px;
$p: 26px;
$spalva1: #70b416;
$spalva2: #000000;

h2{
    color: $pagrindineSpalva;
    font-size: $font;
}

.pagrindinis{
    .green{
        h2{color: $pagrindineSpalva;
           font-size: $font; }
        p{font-size: $p;}
   }
}

.black{
    height: 70px;
    width: 80%;
    background-color: $spalva2;
    margin: 0 auto;
}
body{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: $spalva2;
}
.sekantis{
    width: 100%;
    height: 200px;
    background-color: beige;
}
