$fonoSpalva: #f8f9fa;
$ikonuSpalva: #808080;
$ikonuFontSize: 30px;
$navbarSpalva: #70A496;
$footerTekstoSpalva: #f8f9fa;

body {
  background-color: $fonoSpalva;
}
header {
  height: 60px;
  input {
    position: relative;
    top: 2px;
  }
  form {
    input {
      width: 20%;
    }
  }
  p {
    color: $ikonuSpalva;
    position: relative;
    top: 8px;
  }
}
nav {
  li {
    list-style-type: none;
    position: relative;
  }
}
li a, a:hover, a:visited, a:active {
  color: $ikonuSpalva;
  text-decoration: none;
}
main {
  img {
    opacity: 0.8;
  }
}
footer {
  h3 {
    color: $fonoSpalva;
  }
  p {
    color: $fonoSpalva;
  }
  a, a:hover, a:visited, a:active {
    color: $fonoSpalva;
    text-decoration: none;
  }
  input {
    position: relative;
    top: 2px;
  }
}
.icons {
  font-size: 30px;
  color: $ikonuSpalva;
}
.search {
  width: 45%;
}
.bg-nav-custom {
  background-color: $navbarSpalva;
}
.img-wrapper {
 position: relative;
 width:100%;
}
.msg-overlay {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 40%;
}
.footer-icons {
  font-size: 30px;
  color: #f8f9fa;
}
.navbar {
  display:none;
}
/* nuo 0 iki 1200px */
@media (max-width:1200px) {
  h1,.fa-phone {
    display: none;
  }
  .icons {
    font-size: 20px;
  }
}
/* nuo 0 iki 1000px */
@media (max-width:1000px) {
  .register-btn {
    display: none;
  }
}
/* nuo 0 iki 768px */
@media (max-width:768px) {
  header {
    input, .btn, .phone {
      display: none;
    }
  }
  .newsletter * {
    display: none;
  }
  .big-nav {
    display: none;
  }
  .navbar {
    display: block;
  }
}
/*  nuo 0 iki 425px */
@media (max-width: 425px) {
  footer {
    img {
      display:none;
    }
    .terms {
      display:none;
    }
  }
}
