
.margin{
  margin: 5px;
}

.margin3{
  margin-left: 5px;
}

.aukstis1{
  height: 100px;
  background-color: grey;
}

.aukstis2{
  height: 50px;
    background-color: grey;
}

.aukstis3{
  height: 200px;
  background-color: grey;
}

.aukstis4{
  height: 130px;
  background-color: grey;
  margin-left: 0;
  
}
.aukstis5{
  height: 120px;
  background-color: grey;
  margin-left: 0;

}
.margin1{
  margin-right: 5px;
}
.aukstis6{
  height: 70px;
  background-color: grey;
  margin-left: 4px;
  margin-right: 4px;
}

.margin2{
  margin-bottom: 0;
}
