.h-foto {
  height: 30vh;
}

.relative {
  position: relative;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-font-size {
  font-size: 1.5rem;
}

.absolute-right {
  position: absolute;
  top: 0;
  right: 0;
}

.aukstislogo{
height: 15vh;
}

.aukstispagr{
height: 10vh;
}

.liststyle{list-style: none;
}

.floatvirsus{
float: left;
width: 80%;
}

.liplotis{
width: 30%;
}

.foto{
width: 20%;
height: auto;
object-fit: cover;
}

.plotisteksto{
width: 33%;
}

.aukstisteksto{
height: 100px;
}

.aukstisrekl{
height: 600px;
}

.isjungiufloat{
clear: both;
}

.fonas{
background-image: url("https://images.unsplash.com/photo-1501409745824-a498b0899f82?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=891&q=80")
}

h2{text-align: center;
margin-top: 3%;
}

.button{position: absolute;
transform: translate(-50%, -50%);
left: 50%;
top: 50%;}
