.h-foto {
  height: 30vh;
}

.relative {
  position: relative;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-font-size {
  font-size: 1.5rem;
}

.absolute-right {
  position: absolute;
  top: 0;
  right: 0;
}

.aukstis-logo{
  height: 15vh;
}

.float-virsus{
  float: left;
  width: 80%;
  list-style: none;
}

.li-plotis{
  float: left;
  width: 30%;
  font-weight: 900;
}

.aukstis-pagr{
  height: 10vh;
  font-size: 2rem;
}

.aukstis-teksto{
  height: 150px;
  text-align: center;
  padding: 36px;
  font-weight: 900;
  font-family: serif;
}

.isjungiu-float{
  clear: both;
}

.fonas{
  height: 700px;
  background-image: url("https://images.unsplash.com/photo-1501409745824-a498b0899f82?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=891&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

h2{
  text-align: center;
  margin-top: 3%;
}

.button{position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}
