h1 {
  color: red;
  text-align: center;
}
header li {
  display:inline-block;
  width:100px;
  text-align: center;
  border: 1px solid black;
}
div {
  float:left;
  width:46%;
  height: 300px;
  margin:2%;
}
.fonas-geltonas {
  background-color: yellow;
}
.fonas-zalias {
  background-color: green;
}
.nutraukiu-float {
  clear: both;
  content: "";
}
main article {
  background-color: yellow;
  width:14.5%;
  float:left;
  border:1px solid black;
  margin:1%;
}
article h2 {
  padding: 5%;
}
.sekcija {
  margin:1%;
}
