*{box-sizing: border-box;}
body{background-color: #f7fae8;}
html{height: auto;}

h1{
  color: brown; text-align: center;
  padding-bottom: 10px;
  margin-top: 5%;}

h6{padding-top: 20px;}

.paukstiena{background-color: rgb(167, 196, 226);}
.jautiena{background-color: rgb(228, 238, 111);}
.sushi{background-color: rgb(163, 181, 240);}

article{
float: left;
width: 30%;
margin-left: 2%;
text-align: left;
min-height: 20vh;
padding: 1%;
padding-top: 0;
padding-right: 0;
padding-bottom: 1%;
border: solid 1px black;
background-color: rgb(211, 228, 217);
}

h2{
text-align: center;
border-bottom: solid 1px black;
border-left: solid 1px black;
margin: 0;
padding-right: 0;
width: 200px;
float: right;}
